#tableauVaccin, #tableauVaccin tr, #tableauVaccin td {
    border: 1px solid white;
}


#tableauVaccin td {
    width: 1%;
    height: 1%;
    padding: 0px;
}

#tableauVaccin .green {
    background-color: rgb(45, 189, 84);
}

#tableauVaccin .red {
    background-color: rgb(237, 88, 88);
}

#tableauVaccin .darkgreen {
    background-color: rgb(31, 128, 57);
}

#tableauVaccin .grey {
    background-color: rgb(207, 169, 169);
}


.blink_me {
    animation: blinker 3s ease infinite;
    animation-delay: 2s;
}

@keyframes blinker {
    50% {
        background-color: rgb(45, 189, 84);
    }
}


.subtableVaccin, .subtableVaccin tr, .subtableVaccin td {
    border: none !important;
    padding: 0px !important;
}

.subtableVaccin {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.subtableVaccin tr {
    height: 10%;
}

.animation-seconde-dose {
    background-color: rgb(45, 189, 84);
    animation: seconde-dose 3s ease infinite;
    animation-delay: 2s;
}

.animation-premiere-dose {
    background-color: rgb(237, 88, 88);
    animation: premiere-dose 3s ease infinite;
    animation-delay: 2s;
}

@keyframes premiere-dose {
    /*from {background-color: rgb(237, 88, 88);}*/
    50% {background-color: rgb(45, 189, 84);}
}

@keyframes seconde-dose {
    /*from {background-color: rgb(45, 189, 84);}*/
    50% {background-color: rgb(31, 128, 57);}
}