<!-- requires assets/css/vaccins_proportion.css -->

<h2 id="proportion_vaccins" class="navbar-anchor">Proportion de personnes vaccinées</h2>

<div class="row">
    <div class="col-lg-6" style="text-align: center">
        {% include vaccin_rubik.html part="tableau" %}
    </div>
    <div class="col-lg-6">
        <p>
        Chaque carré correspond à 1% des français. <br>
            Les carrés verts foncés
        <svg width="10" height="10">
            <rect x="0" y="0" width="60" height="60" style="fill:rgb(31, 128, 57);"/>
        </svg> correspondent aux français ayant reçu 2 doses et les carrés verts clairs
        <svg width="10" height="10">
            <rect x="0" y="0" width="60" height="60" style="fill:rgb(45, 189, 84);"/>
        </svg> aux français en ayant reçu une. <br>
            Les carrés rouge vif
        <svg width="10" height="10">
            <rect x="0" y="0" width="60" height="60" style="fill:rgb(237, 88, 88);"/>
        </svg> représentent les français qu'il faut vacciner avant d'atteindre un taux de vaccination de 60%.<br>
        Les carrés rouge clair
        <svg width="10" height="10">
            <rect x="0" y="0" width="60" height="60" style="fill: rgb(207, 169, 169);"/>
        </svg>  représentent les autres français non vaccinés. <br>
            <i>Mise à jour : <span id="date_maj_3">--/--</span></i>
        </p>
        <p>
        {% include vaccin_rubik.html part="description" %}
        </p>
    </div>

</div>




