<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/fontawesome/all.min.css" | prepend: site.baseurl }}">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
  {% for css in layout.css %}
  <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}">
  {% endfor %}
  {% for css in page.css %}
  <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}">
  {% endfor %}
  {% for js in page.headjs %}
  <script src="{{ js | prepend: site.baseurl }}"></script>
  {% endfor %}
</head>
<body id="page-top" data-spy="scroll" data-target="#navbar-verticale" data-offset="250" style="position: relative; height: 100%; overflow-y: scroll;">
<div id="wrapper">


  <div id="dashboard_nav" class="fixed-top">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <li><a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{"index.html" | prepend: site.baseurl }}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{site.title}}</sup></div>
      </a></li>

      {% for item in site.data.navbar %}
        {% if item.title %}
        <li class="sidebar-heading">
          {{ item.title }}
        </li>
        {% endif %}
        {% for link in item.links %}
          {% if link.sublinks %}
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#idnav{{ link.name }}"
                 aria-expanded="true" aria-controls="idnav{{ link.name }}">
                <i class="fas fa-fw fa-folder"></i>
                <span>{{ link.name }}</span>
              </a>
              <div id="idnav{{ link.name }}" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  {% for sublink in link.sublinks %}
                    <a class="collapse-item" href="{{ sublink.link | prepend: site.baseurl }}">{{ sublink.name}}</a>
                  {% endfor %}
                </div>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.link | prepend: site.baseurl }}">
                <i class="fas fa-fw
                                  {% if link.icon %}
                                      {{ link.icon }}
                                  {% else %}
                                      fa-chart-area
                                  {% endif %}
                                  "></i>
                <span>{{ link.name }}</span></a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}



      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
  </div>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <!-- simplified navbar for smartphones -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="navbar-simplified">
        <a class="navbar-brand" href="#">{{site.title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#simplifiedNavbar" aria-controls="simplifiedNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="simplifiedNavbar">
          <ul class="navbar-nav mr-auto">
            {% for item in site.data.navbar %}
            {% if item.title %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown{{item.title}}" role="button" data-toggle="dropdown">{{item.title}}</a>
              <div class="dropdown-menu">
                {% for link in item.links %}
                {% if link.sublinks %}
                <h6 class="dropdown-header">{{link.name}}</h6>
                {% for sublink in link.sublinks %}
                <a class="dropdown-item" href="{{sublink.link | absolute_url}}">{{sublink.name}}</a>
                {% endfor %}
                {% else %}
                <a class="dropdown-item" href="{{link.link | absolute_url}}">{{link.name}}</a>
                {% endif %}
                {% endfor %}
              </div>
            </li>
            {% else %}
            {% for link in item.links %}
            <li class="nav-item"><a class="nav-link" href="{{ link.link | absolute_url }}">{{ link.name }}</a></li>
            {% endfor %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>

      {{ content }}
    </div>

    {% include footer.html %}

  </div>

</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/bootstrap.bundle.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/jquery.easing.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/assets/vendor/moment-with-locales.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/Chart.bundle.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/select2.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/raphael.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/justgage.min.js' | prepend: site.baseurl}}"></script>
<script type="text/javascript">
  {% include js/dashboard.js %}
</script>
{% for js in layout.js %}
<script type="text/javascript">
  {% include {{ js }} %}
</script>
{% endfor %}
{% for js in page.js %}
<script type="text/javascript">
  {% include {{ js }} %}
</script>
{% endfor %}

</body>
</html>
