<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  </head>
  <body data-spy="scroll" data-target="#navbar-verticale" data-offset="0" style="position: relative; height: 100%; overflow-y: scroll;">

    {% include navbar.html%}

    {{ content }}

    <script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/vendor/Chart.bundle.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/vendor/select2.min.js' | prepend: site.baseurl}}"></script>
    {% for js in page.js %}
    <script type="text/javascript">
      {% include {{ js }} %}
    </script>
    {% endfor %}

  </body>
</html>
