---
layout: page
img: assets/img/vaccine-1920.jpg
title: VaccinTracker
subtitle: Combien de français ont été vaccinés contre la Covid19 ?
js:
  - js/covidtracker_utils.js
  - js/vaccintracker.js
  - js/carte_departement.js
css:
  - assets/css/vaccins_proportion.css
  - assets/css/timeline.css
  - assets/css/carte_departement.css
navbar:
  - name: Résumé
    id: cards_vaccins
  - name: Population vaccinée
    id: proportion_vaccins
  - name: Évolution
    id: evolution_vaccins
  - name: Répartition géographique
    id: cartes_vaccins
  - name: Immunité collective
    id: vaccins_immunite
  - name: Vaccins autorisés
    id: autorisation-des-vaccins
  - name: Situation mondiale
    id: vaccins_monde
---

<p>Quelle proportion des Français a été vaccinée ? Combien faut-il encore vacciner de personnes avant
    d'atteindre
    l'immunité collective ? Quels sont les différents types de vaccins proposés ? Ce tracker permet de
    suivre la proportion de Français déjà vaccinés contre la Covid19. VaccinTracker est une initiative
    citoyenne indépendante et non officielle.
</p>

<div class="col-md-12 mt-3">
    {% include_relative elements/vaccins/cards.html %}
</div>

<div class="col-md-12 mt-3">
    {% include_relative elements/vaccins/proportion.html %}
</div>

<div class="col-md-12 mt-3">
    {% include_relative elements/vaccins/evolution.html %}
</div>

<div class="col-md-12 mt-3">
    {% include_relative elements/vaccins/repartition_geo.html %}
</div>

<div class="col-md-12 mt-3">
    {% include_relative elements/vaccins/immunitecollective.html %}
</div>

<div class="col-md-12 mt-3">
    {% include_relative elements/vaccins/autorisations.html %}
</div>

<div class="col-md-12 mt-3">
    {% include_relative elements/vaccins/monde.html %}
</div>
